/* Your custom styles */

.form-inline{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px 6px 4px 6px;
    position: relative;
}

.navbar.navbar-dark form input[type="text"]{
    border-style: none;
}

.side-link {
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
    padding: 2px;
}

.side-link-2 {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 2px;
    margin: 3px 0;
}

.bg-light {
    background-color: #f1f1f1;
}

.sidebar-sticky {
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.logo{
    max-width: 40%;
    height: auto;
}

a{
    color: #E53935;
}

label{
     color: #E53935;
}

#card-login {
    width: 35%;
    height: 75vh;
    margin: 12.5vh auto;
    display: block;
}

.bg-login {
    background-color: #E53935 !important;
}

.dados_usuario{
    color: #E53935;
    font-weight: bold;
}

#pagina {
   -webkit-transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -ms-transition: opacity 2s ease-in-out;
   -o-transition: opacity 2s ease-in-out;
   transition: opacity 2s ease-in-out;
}